on:
  push:
  pull_request:
  workflow_dispatch:

env:
  COMMODORE_INTERACTIVE: "--interactive=false"
  COMMODORE_TTY: "--tty=false"

jobs:

  check-commands:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - run: ./0_requirements.sh || true

      - run: |
          export SSH_AUTH_SOCK=/tmp/ssh_agent.sock
          touch $SSH_AUTH_SOCK
          
          touch ${HOME}/.gitconfig
          
          set -x
          set +e
          source commodore_command.sh
          commodore component new fortune
          ls -R dependencies/fortune
          commodore component compile dependencies/fortune
          ls -R dependencies/fortune
